* {
  font-family: sans-serif;
}

input,
button {
  box-shadow: 1px 1px 1px 1px rgb(215, 215, 215);
}

button {
  cursor: pointer;
}

body {
  margin: 0px;
}

nav {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 4px 0px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  border-radius: 60px;
  border: solid black;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  color: black;
}

nav input {
  flex: 1;
  height: 42px;
  margin: 5px;
  border-radius: 60px;
  background-color: rgb(212, 210, 210);
  border: none;
  padding: 0px 15px 0px 15px;
  min-width: 0px;
}

footer {
  color: rgb(246, 245, 245);
  background-color: rgb(21, 19, 19);
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
  color: white;
}

footer p,
footer a,
footer h4 {
  font-size: 14px;
  text-decoration: none;
  color: rgb(246, 245, 245);
}

footer input {
  background-color: white;
  border-radius: 60px;
  padding: 10px 15px 10px 15px;
  width: 90%;
  border: none;
  margin-bottom: 10px;
  margin: 0px;
  box-shadow: 1px 1px 1px 1px rgb(82, 81, 81);
}

footer button {
  background-color: rgb(42, 199, 223);
  border-radius: 60px;
  box-shadow: 1px 1px 1px 1px rgb(82, 81, 81);
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  border: none;
  color: white;
  margin: 0px;
  width: 90%;
  cursor: pointer;
}

footer img {
  border: none;
  border-radius: 100%;
  background-color: white;
}

@media screen and (max-width: 600px) {
  footer {
    display: block !important;
    padding-bottom: 80px;
    padding-top: 20px;
  }
  footer .cols {
    margin-top: 60px;
  }
}

.cols {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rows {
  width: 90%;
  text-align: center;
  margin-top: 10px;
}

main {
  padding-top: 60px;
}
