.article {
  margin: 20px;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-not-found {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}

.article-not-found a {
  background-color: rgb(42, 199, 223);
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  text-decoration: none;
}
